{% load static %} <!--use to link css, also need to use link tag below-->
<html>
    <head>
        <title>Django Blog</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Caveat:wght@500&family=Cormorant:wght@300&family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}"
    </head>

    <body>
        <header>
            <div class="nav-left"> <!--new-->
            <h1><a href="{% url 'home' %}">Django blog</a></h1>
            </div>
            <div class="nav-right"> <!--new-->
                    <a class="add-new" href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        </header>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}</p>
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>

</html>