
header h1 a {
    color: red;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
}

body{
    font-size: 18px;
    
}

header{
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

.nav-left{
    margin-right: auto;
}
.nav-right{
    padding-top: 2rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto
    
}
.add-new{
    display: flex;
    position: relative;
    bottom: 465px;
    right: 400px;
    font-family: 'Robotica', cursive;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 30px;
    padding: 5px;
    background-color: #333;
    color: white;
}

.add-new:hover {
    color:red;
}
.post-entry{
    margin-bottom: 2rem;
}
.post-entry h2{
    margin: 0.5rem 0;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    
}

.post-entry h2 a,
.post-entry h2 a:visited{
    color:blue;
    text-decoration: none;
}
.post-entry p{
    margin:0;
    font-weight: 600;
    font-family: 'Cormorant', serif;
    
    
}
.post-entry h2 a:hover{
    color:red;
    border-left: 8px solid blue;
    margin-left: 10px;
    box-shadow: 0 1px 8px 2px red;
}